body {
  min-height: 550vh;
  overflow: scroll;
}

canvas {
  position: fixed;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  transition: 0.5s all ease-in-out;
}

.mainContent {
  padding-top: 500vh;
}
