:root {
  --primary-color: #23b2bd;
  --primary-font: #359b91;
  --secondary-color: #be4a4a;
  --text-color: #23bd9e;
  --pink-color: ;
}

@font-face {
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 100;
  src: url("../font/NotoSansTC-Thin.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 300;
  src: url("../font/NotoSansTC-Light.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 400;
  src: url("../font/NotoSansTC-Regular.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 500;
  src: url("../font/NotoSansTC-Medium.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 700;
  src: url("../font/NotoSansTC-Bold.otf") format("opentype");
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 1rem;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1340px;
  }
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.overflow-hidden {
  overflow: hidden;
}

/* 導覽列 */
.nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  z-index: 9;
  background-color: #fff;
  box-shadow: 1px 1px 5px #0003;
  transition: all 0.3s ease-in;
  display: flex;
  align-content: center;
  justify-content: center;
}

.nav .logo {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 200px;
}

.nav .logo img {
  width: 60px;
}

.nav .mobileLogo {
  display: none;
}

ul.nav-links {
  display: flex;
  gap: 20px;
}

ul.nav-links li {
  display: flex;
  align-items: center;
}

ul.nav-links li a {
  position: relative;
  color: var(--text-color);
}

ul.nav-links li a::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  height: 1.5px;
  width: 0;
  background-color: var(--text-color);
  transition: 0.3s all ease;
}

ul.nav-links li a:hover::after,
ul.nav-links li a.active::after {
  width: 100%;
  background-color: var(--primary-font);
}

ul.nav-links li a:hover,
ul.nav-links li a.active {
  color: var(--primary-font);
}

ul.nav-links.active+.burger .line1 {
  transform: rotate(-45deg);
  transform-origin: top right;
}

ul.nav-links.active+.burger .line2 {
  transform: rotate(45deg);
  transform-origin: bottom right;
}

.burger {
  width: 30px;
  transition: all 0.3s linear;
  cursor: pointer;
  z-index: 999;
  display: none;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin-left: auto;
}

.burger div {
  height: 2px;
  width: 30px;
  margin: 3px 0;
  background-color: var(--primary-color);
  transition: all 0.2s linear;
}

ul.nav-links.active+.burger div {
  position: absolute;
  transition: all 0.2s linear;
}

ul.nav-links.active+.burger div:first-child {
  transform: rotate(45deg);
}

ul.nav-links.active+.burger div:last-child {
  transform: rotate(-45deg);
}

@media screen and (max-width: 1100px) {
  .nav .logo {
    padding-left: 20px;
  }
}

@media screen and (max-width: 768px) {
  .nav {
    padding: 0 18px 0 15px;
  }

  .nav .logo img {
    width: 50px;
  }

  .nav .mobileLogo {
    display: block;
  }

  .navOverlay.show {
    width: 100%;
    height: 100%;
    background-color: #0003;
    position: fixed;
  }

  .burger {
    display: flex;
  }

  ul.nav-links {
    z-index: -1;
    visibility: hidden;
    display: flex;
    align-items: center;
    position: fixed;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    background: #efefef;
    transform: translateX(-100vw);
    transition: all 0.4s ease;
    overflow-y: auto;
    padding-top: 20px;
  }

  ul.nav-links.active {
    visibility: visible;
    transform: translateX(0);
    z-index: 1;
  }

  ul.nav-links li {
    margin: 10px;
    transform: translateX(-300px);
    transition: transform 0.6s linear;
  }

  ul.nav-links li:not(:last-of-type):after {
    content: "";
    margin: 0;
  }

  ul.nav-links li+li {
    transform: translateX(-400px);
  }

  ul.nav-links li+li+li {
    transform: translateX(-500px);
  }

  ul.nav-links li+li+li+li {
    transform: translateX(-600px);
  }

  ul.nav-links li+li+li+li+li {
    transform: translateX(-700px);
  }

  ul.nav-links li+li+li+li+li+li {
    transform: translateX(-800px);
  }

  ul.nav-links.active li {
    transform: translate(0);
  }
}

/* Footer */
footer {
  background-color: #efefef;
  padding: 50px 0 30px;
  box-shadow: -1px -1px 5px #0003;
}

footer .top {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

footer .itemsList {
  display: flex;
  justify-content: space-between;
}

footer .itemsList .items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-size: 15px;
}

footer div a {
  color: var(--primary-font);
}

footer .itemTitle a {
  color: #000;
}

footer .logo {
  width: 200px;
}

footer .logo img {
  width: 100%;
}

footer .bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  color: #777777;
  gap: 20px;
}

footer .bottom a {
  color: #777777 !important;
}

footer .bottom>div {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 20px;
}

@media (max-width: 991.98px) {
  footer .bottom {
    flex-direction: column;
    gap: 0px;
  }
}

@media (max-width: 576.98px) {
  footer {
    padding: 30px 0;
  }

  footer .top {
    align-items: center;
  }

  footer .itemsList {
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
  }

  footer .itemsList .items {
    gap: 12px;
    width: calc(100% / 3 - 30px);
  }

  footer .bottom {
    align-items: start;
    margin-top: 20px;
    padding-left: 20px;
  }

  footer .bottom>div {
    flex-direction: column;
    align-items: start;
    gap: 0px;
  }
}

/* FAB */
.fabArea {
  position: fixed;
  right: 20px;
  bottom: 60px;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.fabArea a:not(.scrollTop) {
  background: var(--secondary-color);
  color: #fff;
  width: 55px;
  height: 55px;
  font-size: 14px;
  border-radius: 50%;
  margin: 5px 0;
}

.fabArea a:not(.scrollTop):hover {
  background: var(--primary-color);
}

.fabArea a.scrollTop {
  width: 45px;
  height: 45px;
}

.fabArea a.scrollTop img {
  max-width: 100%;
}

.scrollTop {
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s;
}

.scrollTop.active {
  visibility: visible;
  opacity: 1;
}

/* 按鈕 */
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 230px;
  height: 55px;
  font-weight: bold;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  border: 10px solid transparent;
  transition: 0.3s all ease-in-out;
}

.btn.btn-primary {
  background-color: var(--primary-color);
  color: #fff;
}

.btn.btn-primary:hover {
  background-color: var(--text-color);
  box-shadow: 0 0 0 1px var(--text-color);
}

/* 主要內容 */
.main {
  padding: 70px 0 100px;
}

.pageTitle {
  background-color: var(--primary-color);
  color: #fff;
  text-align: center;
  font-size: 2.8rem;
  padding: 45px;
}

@media (max-width: 768.98px) {
  .pageTitle {
    font-size: 2rem;
    padding: 30px;
  }
}

@media (max-width: 576.98px) {
  .pageTitle {
    font-size: 1.8rem;
    padding: 25px;
  }
}

/* 次頁面分類 */
.subPages {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  padding: 50px 20px;
}

.subPage {
  display: block;
  width: 110px;
  height: 110px;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  border-radius: 20px;
  background-image: url(/assets/image/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.subPage::after {
  content: attr(data-content);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  position: absolute;
  top: 0;
  background-color: var(--text-color);
  transition: 0.3s all ease-in-out;
  box-shadow: 1px 1px 5px #0005;
}

.subPage:hover::after {
  background-color: #23bd9e66;
}

@media (max-width: 768px) {
  .subPages {
    gap: 15px;
  }

  .subPage {
    width: 90px;
    height: 90px;
    font-size: 1rem;
  }
}

@media (max-width: 576px) {
  .subPages {
    gap: 12px;
    padding: 30px 20px;
  }

  .subPage {
    width: 85px;
    height: 85px;
  }
}