:root {
    --primary-color: #23b2bd;
    --primary-font: #359b91;
    --secondary-color: #be4a4a;
    --text-color: #23bd9e;
}

@font-face {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 100;
    src: url("../font/NotoSansTC-Thin.otf") format("opentype");
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 300;
    src: url("../font/NotoSansTC-Light.otf") format("opentype");
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 400;
    src: url("../font/NotoSansTC-Regular.otf") format("opentype");
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    src: url("../font/NotoSansTC-Medium.otf") format("opentype");
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    src: url("../font/NotoSansTC-Bold.otf") format("opentype");
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: 'Noto Sans TC', sans-serif;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

/* 導覽列 */
.nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    z-index: 9;
    box-shadow: 1px 1px 5px #0003;
    transition: all 0.3s ease-in;
    display: flex;
    align-content: center;
    justify-content: center;
}

.nav .logo {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 200px;
}

.nav .logo img {
    width: 60px;
}

ul.nav-links {
    display: flex;
    gap: 20px;
}

ul.nav-links li {
    display: flex;
    align-items: center;
}

ul.nav-links li a {
    position: relative;
    color: var(--text-color);
}

ul.nav-links li a::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    height: 1.5px;
    width: 0;
    background-color: var(--text-color);
    transition: 0.3s all ease;
}

ul.nav-links li a:hover::after,
ul.nav-links li a.active::after {
    width: 100%;
    background-color: var(--primary-font);
}

ul.nav-links li a:hover,
ul.nav-links li a.active {
    color: var(--primary-font);
}

ul.nav-links.active+.burger .line1 {
    transform: rotate(-45deg);
    transform-origin: top right;
}

ul.nav-links.active+.burger .line2 {
    transform: rotate(45deg);
    transform-origin: bottom right;
}

.burger {
    width: 30px;
    transition: all 0.3s linear;
    cursor: pointer;
    z-index: 999;
    display: none;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin-left: auto;
}

.burger div {
    height: 2px;
    width: 30px;
    margin: 3px 0;
    background-color: var(--primary-color);
    transition: all 0.2s linear;
}

ul.nav-links.active+.burger div {
    position: absolute;
    transition: all 0.2s linear;
}

ul.nav-links.active+.burger div:first-child {
    transform: rotate(45deg);
}

ul.nav-links.active+.burger div:last-child {
    transform: rotate(-45deg);
}

@media screen and (max-width: 1100px) {
    .nav .logo {
        padding-left: 20px;
    }
}

@media screen and (max-width: 768px) {
    .nav {
        padding: 0 18px 0 15px;
    }

    .nav .logo img {
        width: 50px;
    }

    .burger {
        display: flex;
    }

    ul.nav-links {
        z-index: -1;
        visibility: hidden;
        display: flex;
        align-items: center;
        position: fixed;
        flex-direction: column;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        margin-top: 75px;
        background: #fff;
        transform: translateX(-100vw);
        transition: all 0.4s ease;
        overflow-y: auto;
        padding-top: 20px;
    }

    ul.nav-links.active {
        visibility: visible;
        transform: translateX(0);
        z-index: 1;
    }

    ul.nav-links li {
        margin: 10px;
        transform: translateX(-300px);
        transition: transform 0.6s linear;
    }

    ul.nav-links li:not(:last-of-type):after {
        content: '';
        margin: 0;
    }

    ul.nav-links li+li {
        transform: translateX(-400px);
    }

    ul.nav-links li+li+li {
        transform: translateX(-500px);
    }

    ul.nav-links li+li+li+li {
        transform: translateX(-600px);
    }

    ul.nav-links li+li+li+li+li {
        transform: translateX(-700px);
    }

    ul.nav-links li+li+li+li+li+li {
        transform: translateX(-800px);
    }

    ul.nav-links.active li {
        transform: translate(0);
    }
}

/* Footer */
footer {
    background-color: #efefef;
    padding: 50px 0 30px;
    box-shadow: -1px -1px 5px #0003;
}

footer .top {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

footer .itemsList {
    display: flex;
    justify-content: space-between;
}

footer .itemsList .items {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 15px;
}

footer div a {
    color: var(--primary-font);
}

footer .itemTitle a {
    color: #000;
}

footer .logo {
    width: 200px;
}

footer .logo img {
    width: 100%;
}

footer .bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    color: #777777;
    gap: 20px;
}

footer .bottom a {
    color: #777777 !important;
}

footer .bottom>div {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 20px;
}

/* 主要內容 */
.main {
    padding-top: 100px;
}